USE [master]
GO
/****** Object:  Database [TestKiemTra]    Script Date: 21/11/2019 21:47:40 ******/
CREATE DATABASE [TestKiemTra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestKiemTra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TestKiemTra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestKiemTra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TestKiemTra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestKiemTra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestKiemTra]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 21/11/2019 21:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MCV] [nvarchar](50) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
	[MucLuong] [float] NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 21/11/2019 21:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[MCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CongViec] ([MCV], [TenCV], [MucLuong]) VALUES (N'NVBH', N'Nhân viên abc', 500)
INSERT [dbo].[CongViec] ([MCV], [TenCV], [MucLuong]) VALUES (N'NVCC', N'Nhân Viên xyz', 10)
INSERT [dbo].[CongViec] ([MCV], [TenCV], [MucLuong]) VALUES (N'NVQHO', N'Nhân viên quản lý kho', 1000)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MCV]) VALUES (N'01', N'Minh', N'NVBH')
USE [master]
GO
